# === 敏感文件,绝不上传 ===
**/.npmrc
**/clash/
**/github-copilot/
**/*credentials*
**/*.key
**/*.pem
*.local


# === karabiner 自动备份,无需纳管 ===
mac/karabiner/.config/karabiner/automatic_backups/

.idea/
# === 系统垃圾 ===
.DS_Store
